
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('.nav-link').removeClass('menu-active');
            $('#nav-history').addClass('menu-active');

        });
    </script>
    }