<h3>Dashboard</h3>

    @section Scripts{
        <script type="text/javascript">
            $(function () {
                $('.nav-link').removeClass('menu-active');
                $('#nav-dashboard').addClass('menu-active');
            })
        </script>
        }